html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100%;
}

.nav-handle{
    position: fixed;
    width: 100%;
    color: white;
    background-image: linear-gradient(#430926aa, #00000000);
    z-index: 10;
}

#ball{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.page1-icon{
    display: flex;
    margin-top: 20px;
}

.page1-icon span{
    border: 1px solid #ffffff36;
    display: grid;
    place-items: center;
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 1s ease;
}

.page1-icon > a{
    text-decoration: none;
    color: white;
}

.page1-icon i{
    font-size: 15px;
}

.page1-container{
    display: flex;
}

.page1-icon span:hover{
    background-color: #e015b4;
}

.myself-head{
    text-align: left;
    justify-content: flex-start;
}

.brand{
    font-size: 2em;
    font-weight: 800;
    letter-spacing: 5px;
    cursor: pointer;
}

.brand span{
    color: #e015b4;
}

.nav-list{
    text-transform: uppercase;
}

.nav-list a{
    letter-spacing: 4px;
    cursor: pointer !important;
    height: 35px;
    transition: border-bottom-color 1s ease;
    font-size: 15px;
}

.nav-list a{
    text-decoration: none;
    color: white;
}

.nav-list a:hover{
    border-bottom: 2px solid #e015b4;
}

.pink{
    color: #eb84d5;
    font-weight: 700;
    font-size: 25px;
}

.navbar-nav{
    flex-direction: row;
    align-items: flex-start;
}

.pill{
    height: 300px;
    width: 120px;
    border-radius: 70px;
    overflow: hidden;
    border: 7px solid #d10aa696;
    position: relative;
    margin: auto;
}

.pill img{
    position: absolute;
    animation: mymove 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

.main-container{
    /* scroll-snap-type: y mandatory; */
    /* overflow-y: scroll; */
}

.main-container > div{
    /* height: max-content; */
    /* scroll-snap-align: start; */
}

.page1{
    /* Photo by Robin */
    background-image: url(https://mourithemes.com/robin/robin/images/home/2.jpg);
    margin: 0;
    padding: 0;
    position: relative;
}

.page1 > div{
    background-color: #000000af;
    width: 100%;
}

.page1 > div > div{
    display: grid;
    place-items: center;
    height: 100vh;
}

@keyframes mymove {
    0%   {left: -70px}
    100%  {left: -20px}
}


.card-text{
    font-size: 15px;
    padding: 0 10px;
}

.card-body img{
    /* padding-bottom: 5px; */
    /* background-color: #d30000; */
    margin-bottom: 20px;
}

.card{
    /* border: 2px solid #d3000038; */
    /* background-color: #394343; */
    margin: 5px;
    box-shadow: 0px 20px 20px 1px #ba3a4f98;
    color: #ba3a50;
}

.card-holder{
    /* padding: 30px 40px; */
    transform: scale(0.8);
}

.card-body .btn{
    width: 90px;
    margin: 0 5px;
}

.card-header{
    background-image: linear-gradient(to bottom right, #a72855, #9e206a);
    /* color: #d1102a; */
    /* background-color: #9d0e56; */
    color: #dfdfdfab;
}

.btn-danger{
    /* background-color: #679b9b; */
    border: none;
}

.card:hover{
    transform: scale(1.1);
    z-index: 1;
    animation-name: scale;
    animation-duration: 0.7s;   
    animation-fill-mode: forwards;
}

@keyframes scale {
  from {
      transform: scale(1);
      /* background-color: #52043c; */
    }
  to {
      transform: scale(1.08);
      /* background-color: #350327; */
    }
}

#portfolio, #contact{
    display: grid;
    place-items: center;
    padding: 100px 30px;
}

#portfolio{
    /* background-image: linear-gradient(to bottom right, #637373, #203535); */
    /* background-color: #74017410; */
}

.project-title{
    color: #b1078c;
    letter-spacing: 10px;
}

.hire span{
    color: #e015b4;
}

.hire table tr > td{
    padding: 15px 70px 15px 20px;
    text-align: left;
    border: 1px solid rgba(128, 128, 128, 0.233);
}

.hire table tr > td:first-of-type{
    font-weight: 600;
}

.hire table tr:hover{
    background-color: #ff00c81f;
}

.page3-icon span{
    border: 1px solid #41414147;
    color: black;
    display: grid;
    place-items: center;
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 1s ease;
}

.page3-icon{
    display: flex;
}

.page3-icon a{
    text-decoration: none;
}

.page3-icon i{
    font-size: 15px;
}

.page3-icon span:hover{
    background-color: #e015b4;
    color: white;
}

.out1, .out2{
    display: none;
}

.in1, .in2{
    display: inline-block;
}

#coding{
    display: grid;
    place-items: center;
    /* background-color: #ff6f9b; */
}

.calender{
    width: 900px;
}

.img-holder{
    margin: 100px auto 60px;
    border-radius: 10px;
    overflow: hidden;
}

.img-holder > div> img{
    width: 80px;
}

.img-holder > div{
    background-color: #ff47e02a;
    padding: 30px;
    display: flex;
    justify-content: center;
}

/* .modalHelper{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
    z-index: 10;
    display: none;
}

body .card:hover .modalHelper{
    display: block;
} */